= html_tag_if (attr? :link), :a, {class: 'iframe', href: (attr :link)}
  iframe src=image_uri(attr :target) alt=(attr :alt) width=(attr :width) height=(attr :height) scroll=(attr :scroll) border=(attr :border) align=(attr: align)
